<!--<script src="https://giscus.app/client.js"
        data-repo="vadavalli/9th"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyODQ4ODkyNjQ="
        data-category="General"
        data-category-id="DIC_kwDOEPsQsM4CP26Q"
        data-mapping="pathname"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script> -->


<script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
<link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">
<div id="comment-section"></div>
<script>
initComments({
  node: document.getElementById("comment-section"),
  defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
  serverName: "cactus.chat",
  siteName: "9thhouse.org",
  commentSectionId: "section1"
})
</script>

<!-- const GH_API_URL = 'https://api.github.com/repos/vadavalli/9th/issues/9/comments?per_page=10?per_page=100?client_id=bfe430ebaf63b3c8ea70&client_secret=b09daa4807b7f878efaa9f2583c86c9c64639440'; -->

